<NotificationContainer />
{{!-- Shared Header --}}
<header>
    <div class="logo">Learn Academy</div>
    <nav>
        <ul class="nav-links">
            <LinkTo @route="app.dashboard" class="nav-link" @activeClass="active">
                Explore
            </LinkTo>
            <LinkTo @route="app.instructor.dashboard" class="nav-link" @activeClass="active">
                Teach on Learn Academy
            </LinkTo>
            <LinkTo @route="app.mylearning" class="nav-link" @activeClass="active">
                My Learning
            </LinkTo>
        </ul>
    </nav>
    <div class="search-container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" class="search-bar" placeholder="Search courses..." />
    </div>
    <div class="icons">
        <span class="icon" data-tooltip="Cart">
            <i class="fa-solid fa-cart-shopping"></i>
        </span>

        <span class="icon" data-tooltip="Notifications">
            <i class="fa-regular fa-bell"></i>
        </span>

        <LinkTo @route="app.profile" class="icon" data-tooltip="Profile">
            <i class="fa-regular fa-user"></i>
        </LinkTo>

        <button type="button" class="logout-btn icon" {{on "click" this.logout}} data-tooltip="Logout">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>
</header>

<main class="main-content">
    {{outlet}}
</main>