{{#if this.isVisible}}
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top d-block" {{on "click" this.scrollToTop}}
    {{did-insert this.setupScroll}} {{will-destroy this.teardownScroll}}>
    <i class="bi bi-arrow-up"></i>
</a>
{{/if}}