{{#if (eq @type "skeleton")}}
<div class="skeleton-wrapper pt-4">
    <div class="skeleton-card">
        <div class="skeleton-img"></div>
        <div class="skeleton-text title"></div>
        <div class="skeleton-text short"></div>
        <div class="skeleton-text"></div>
    </div>
    <div class="skeleton-card">
        <div class="skeleton-img"></div>
        <div class="skeleton-text title"></div>
        <div class="skeleton-text short"></div>
        <div class="skeleton-text"></div>
    </div>
    <div class="skeleton-card">
        <div class="skeleton-img"></div>
        <div class="skeleton-text title"></div>
        <div class="skeleton-text short"></div>
        <div class="skeleton-text"></div>
    </div>
</div>
{{else}}
<div class="loading-spinner-container">
    <div class="spinner"></div>
    <p class="loading-text">Loading...</p>
</div>
{{/if}}